* {
	margin:0px;
	padding:0px;
}

.navtitle h1{
	text-align:center;
}
div div div.glyphicons {
	font-size:24px;
}

.glyphicons-menu-hamburger {
	font-size:1.5em;
}




//*NOT A LOT OF CSS CURRENTLY IN HERE. I TRIED MANY DIFFERENT VARIATIONS TO NO SUCESSS THAT I THEN DELETED.
I GUESS I'M CONFUSED SINCE THE CLASSES IN BOOTSTRAP CARRY PRE-SET CSS RULES, HOW DOES MY CSS FILE OVERRIDE THEM?*//

//*THE REST OF THE FORMATTING ISSUES I SEE ON THIS PAGE I THINK IS THE CAUSE OF USING PHOTOS 
THAT ARE NOT SAME RATIO. BEFORE USING CSS TO ALIGN THEM PERFECTLY I'D CROP IMAGES TO OPTIMAL
4x4 ASPECT RATIO*//